@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html> 
    <head>
        <title>Hello world</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/jpg" href="images/Tuan.jpg">
    </head>
    <body>
        <div style="width: 1440px; height: 1012px; position: relative; background: white">
            <div style="width: 832px; height: 1012px; left: 0px; top: 0px; position: absolute; background: #EEF3FF">
              <div style="width: 724px; height: 50px; left: 57px; top: 103px; position: absolute; background: white; border-radius: 10px"></div>
              <div style="left: 67px; top: 188px; position: absolute; color: black; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 700; word-wrap: break-word">Loại 1</div>
              <div style="left: 205px; top: 188px; position: absolute; color: rgba(0, 0, 0, 0.30); font-size: 20px; font-family: Baloo Bhai 2; font-weight: 700; word-wrap: break-word">Loại 2</div>
              <div style="left: 358px; top: 188px; position: absolute; color: rgba(0, 0, 0, 0.30); font-size: 20px; font-family: Baloo Bhai 2; font-weight: 700; word-wrap: break-word">Loại 3</div>
              <div style="left: 493px; top: 188px; position: absolute; color: rgba(0, 0, 0, 0.30); font-size: 20px; font-family: Baloo Bhai 2; font-weight: 700; word-wrap: break-word">Loại 4</div>
              <div style="width: 724px; height: 0px; left: 54px; top: 226px; position: absolute">
                <div style="width: 724px; height: 0px; left: 0px; top: 0px; position: absolute; border: 1px #D9D9D9 solid"></div>
                <div style="width: 69px; height: 0px; left: 3px; top: 0px; position: absolute; border: 5px #FBA528 solid"></div>
              </div>
              <div style="width: 180px; height: 180px; left: 57px; top: 246px; position: absolute; background: white; border-radius: 10px"></div>
              <div style="width: 180px; height: 180px; left: 57px; top: 690px; position: absolute; background: white; border-radius: 10px"></div>
              <div style="width: 180px; height: 180px; left: 57px; top: 468px; position: absolute; background: white; border-radius: 10px"></div>
              <div style="width: 180px; height: 180px; left: 286px; top: 246px; position: absolute; background: white; border-radius: 10px"></div>
              <div style="width: 180px; height: 180px; left: 286px; top: 468px; position: absolute; background: white; border-radius: 10px"></div>
              <div style="width: 180px; height: 180px; left: 286px; top: 690px; position: absolute; background: white; border-radius: 10px"></div>
              <div style="width: 180px; height: 180px; left: 515px; top: 246px; position: absolute; background: white; border-radius: 10px"></div>
              <div style="width: 180px; height: 180px; left: 515px; top: 468px; position: absolute; background: white; border-radius: 10px"></div>
              <div style="left: 67px; top: 112px; position: absolute; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
                <img style="width: 25px; height: 25px" src="https://via.placeholder.com/25x25" />
                <div style="color: rgba(0, 0, 0, 0.30); font-size: 20px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">Tìm kiếm sản phẩm</div>
              </div>
            </div>
            <div style="left: 883px; top: 193px; position: absolute; color: black; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 800; word-wrap: break-word">Sản phẩm</div>
            <div style="width: 608px; height: 368px; left: 832px; top: 644px; position: absolute; background: #EEF3FF"></div>
            <div style="width: 160px; height: 32px; left: 883px; top: 669px; position: absolute; color: black; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 500; word-wrap: break-word">Tạm tính:</div>
            <div style="left: 1308px; top: 669px; position: absolute; text-align: right; color: black; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 500; word-wrap: break-word">100.000</div>
            <div style="width: 106px; height: 32px; left: 883px; top: 737px; position: absolute">
              <div style="width: 160px; height: 32px; left: 0px; top: 0px; position: absolute; color: black; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 500; word-wrap: break-word">Thuế GTGT:</div>
              <div style="left: 106px; top: 0px; position: absolute; color: black; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">(10%)</div>
            </div>
            <div style="left: 1319px; top: 737px; position: absolute; text-align: right; color: black; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 500; word-wrap: break-word">10.000</div>
            <div style="width: 205px; height: 32px; left: 883px; top: 805px; position: absolute; color: #0598A1; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 700; word-wrap: break-word">Tổng tiền phải trả:</div>
            <div style="left: 1309px; top: 805px; position: absolute; text-align: right; color: #0598A1; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 700; word-wrap: break-word">110.000</div>
            <div style="left: 1095px; top: 193px; position: absolute; color: black; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 800; word-wrap: break-word">Số lượng</div>
            <div style="left: 1217px; top: 193px; position: absolute; color: black; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 800; word-wrap: break-word">Đơn giá</div>
            <div style="width: 192px; height: 30px; left: 883px; top: 247px; position: absolute; color: black; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">7up</div>
            <div style="width: 192px; height: 30px; left: 883px; top: 305px; position: absolute; color: black; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">7up</div>
            <div style="width: 192px; height: 30px; left: 883px; top: 363px; position: absolute; color: black; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">7up</div>
            <div style="width: 192px; height: 30px; left: 883px; top: 421px; position: absolute; color: black; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">7up</div>
            <div style="width: 192px; height: 30px; left: 883px; top: 479px; position: absolute; color: black; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">7up</div>
            <div style="width: 121px; height: 30px; left: 1217px; top: 247px; position: absolute; color: black; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 500; word-wrap: break-word">12.000</div>
            <div style="width: 121px; height: 30px; left: 1217px; top: 305px; position: absolute; color: black; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 500; word-wrap: break-word">12.000</div>
            <div style="width: 121px; height: 30px; left: 1217px; top: 363px; position: absolute; color: black; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 500; word-wrap: break-word">12.000</div>
            <div style="width: 121px; height: 30px; left: 1217px; top: 421px; position: absolute; color: black; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 500; word-wrap: break-word">12.000</div>
            <div style="width: 121px; height: 30px; left: 1217px; top: 479px; position: absolute; color: black; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 500; word-wrap: break-word">12.000</div>
            <div style="width: 87px; height: 30px; left: 1095px; top: 247px; position: absolute">
              <div style="width: 87px; height: 30px; left: 0px; top: 0px; position: absolute; background: #0598A1; border-radius: 5px"></div>
              <div style="width: 30px; height: 0px; left: 22.28px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.20px white solid"></div>
              <div style="width: 30px; height: 0px; left: 64px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.20px white solid"></div>
              <div style="width: 24.40px; height: 30px; left: 30.77px; top: 0px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">2</div>
              <div style="width: 11.67px; height: 27.43px; left: 69px; top: 1px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">+</div>
              <div style="width: 8px; height: 28px; left: 9px; top: 1px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">-</div>
            </div>
            <div style="width: 87px; height: 30px; left: 1095px; top: 305px; position: absolute">
              <div style="width: 87px; height: 30px; left: 0px; top: 0px; position: absolute; background: #0598A1; border-radius: 5px"></div>
              <div style="width: 30px; height: 0px; left: 22.28px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.20px white solid"></div>
              <div style="width: 30px; height: 0px; left: 64px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.20px white solid"></div>
              <div style="width: 24.40px; height: 30px; left: 30.77px; top: 0px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">2</div>
              <div style="width: 11.67px; height: 27.43px; left: 69px; top: 1px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">+</div>
              <div style="width: 8px; height: 28px; left: 9px; top: 1px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">-</div>
            </div>
            <div style="width: 87px; height: 30px; left: 1095px; top: 363px; position: absolute">
              <div style="width: 87px; height: 30px; left: 0px; top: 0px; position: absolute; background: #0598A1; border-radius: 5px"></div>
              <div style="width: 30px; height: 0px; left: 22.28px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.20px white solid"></div>
              <div style="width: 30px; height: 0px; left: 64px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.20px white solid"></div>
              <div style="width: 24.40px; height: 30px; left: 30.77px; top: 0px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">2</div>
              <div style="width: 11.67px; height: 27.43px; left: 69px; top: 1px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">+</div>
              <div style="width: 8px; height: 28px; left: 9px; top: 1px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">-</div>
            </div>
            <div style="width: 87px; height: 30px; left: 1095px; top: 421px; position: absolute">
              <div style="width: 87px; height: 30px; left: 0px; top: 0px; position: absolute; background: #0598A1; border-radius: 5px"></div>
              <div style="width: 30px; height: 0px; left: 22.28px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.20px white solid"></div>
              <div style="width: 30px; height: 0px; left: 64px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.20px white solid"></div>
              <div style="width: 24.40px; height: 30px; left: 30.77px; top: 0px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">2</div>
              <div style="width: 11.67px; height: 27.43px; left: 69px; top: 1px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">+</div>
              <div style="width: 8px; height: 28px; left: 9px; top: 1px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">-</div>
            </div>
            <div style="width: 87px; height: 30px; left: 1095px; top: 479px; position: absolute">
              <div style="width: 87px; height: 30px; left: 0px; top: 0px; position: absolute; background: #0598A1; border-radius: 5px"></div>
              <div style="width: 30px; height: 0px; left: 22.28px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.20px white solid"></div>
              <div style="width: 30px; height: 0px; left: 64px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 0.20px white solid"></div>
              <div style="width: 24.40px; height: 30px; left: 30.77px; top: 0px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">2</div>
              <div style="width: 11.67px; height: 27.43px; left: 69px; top: 1px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">+</div>
              <div style="width: 8px; height: 28px; left: 9px; top: 1px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">-</div>
            </div>
            <img style="width: 20px; height: 20px; left: 1357px; top: 252px; position: absolute" src="https://via.placeholder.com/20x20" />
            <img style="width: 20px; height: 20px; left: 1357px; top: 310px; position: absolute" src="https://via.placeholder.com/20x20" />
            <img style="width: 20px; height: 20px; left: 1357px; top: 368px; position: absolute" src="https://via.placeholder.com/20x20" />
            <img style="width: 20px; height: 20px; left: 1357px; top: 426px; position: absolute" src="https://via.placeholder.com/20x20" />
            <img style="width: 20px; height: 20px; left: 1357px; top: 484px; position: absolute" src="https://via.placeholder.com/20x20" />
            <div style="width: 486px; height: 1px; left: 883px; top: 615.50px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 608px; height: 1px; left: 832px; top: 64.50px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 46px; left: 883px; top: 584px; position: absolute; color: black; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">Note:</div>
            <div style="width: 494px; height: 65px; left: 883px; top: 884px; position: absolute; background: #0598A1; border-radius: 10px"></div>
            <div style="left: 1061px; top: 897px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Baloo Bhai 2; font-weight: 800; word-wrap: break-word">THANH TOÁN </div>
            <div style="width: 344px; height: 50px; left: 1035px; top: 101px; position: absolute">
              <div style="width: 344px; height: 50px; left: 0px; top: 0px; position: absolute; background: #EEF3FF; border-radius: 10px"></div>
              <div style="width: 151px; height: 29px; left: 12px; top: 10px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 17px; display: inline-flex">
                <div style="color: rgba(0, 0, 0, 0.50); font-size: 18px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">Nhập số điện thoại</div>
              </div>
            </div>
            <img style="width: 29px; height: 29px; left: 883px; top: 111px; position: absolute" src="https://via.placeholder.com/29x29" />
            <div style="left: 1264px; top: 20px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 11px; display: inline-flex">
              <img style="width: 30px; height: 30px" src="https://via.placeholder.com/30x30" />
              <div style="color: black; font-size: 20px; font-family: Baloo Bhai 2; font-weight: 400; word-wrap: break-word">Cửa hàng số 1</div>
            </div>
            <div style="left: 923px; top: 111px; position: absolute; color: black; font-size: 18px; font-family: Baloo Bhai 2; font-weight: 600; word-wrap: break-word">Khách hàng:</div>
          </div>
    </body>
</html> 
